body{
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    margin: 20px;
    line-height: normal;
}
.header h1 {
    font-size: 25px;
    text-align: center;
}
.header address {
    font-size: 18px;
    text-align: center;
    border: 0.5px;
    border-style: solid none solid none;
}
.content h2 {
    font-size: 16px;
    border: 0.5px;
    border-style: none none solid none;
}
.content h3 {
    font-size: 16px;
}
.content ul {
    font-size: 16px;
    margin-left: 30px;
    text-indent: 10px;
}
.content p {
    font-size: 16px;
}
.tab1 {
    display: inline-block;
    margin-left: 140px;
}
.tab2 {
    display: inline-block;
    margin-left: 73px;
}
.tab3 {
    display: inline-block;
    margin-left: 50px;
}
.pdf h3{
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
}